LINEAR_API_KEY=lin_api_02lOlCR7FrJ9ebi0owQnnsiMLbngcb5FhaTNtZTP
LINEAR_STATUS_ASSIGNED=
LINEAR_STATUS_PLANNING=
LINEAR_STATUS_IMPLEMENTING=
LINEAR_STATUS_PR_CREATED=
LINEAR_STATUS_REVIEWING=
LINEAR_STATUS_TESTING=
LINEAR_STATUS_BLOCKED=
LINEAR_STATUS_DONE=

GITHUB_REPO_OWNER=
GITHUB_REPO_NAME=
GITHUB_BASE_BRANCH=main

PIV_DRY_RUN=0
